<pe-select-input label="Choose container type"
                 [inlineLabel]="true"
                 [dataSource]="containerTypeDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="containerType">
</pe-select-input>

<ng-container *ngIf="containerType == 'tabs'" id="demo-tabs">
  <demo-container-demo-tabs>

    <ng-container item-input-components>
      <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-types>
      <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-table>
      <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-editor>
      <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
    </ng-container>

    <ng-container item-page-navigation>
      <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
    </ng-container>

    <ng-container item-login-page>
      <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
    </ng-container>

  </demo-container-demo-tabs>
</ng-container>

<ng-container *ngIf="containerType == 'accordion'" id="demo-accordion">
  <demo-container-demo-accordion>

    <ng-container item-input-components>
      <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-types>
      <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-table>
      <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-editor>
      <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
    </ng-container>

    <ng-container item-page-navigation>
      <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
    </ng-container>

    <ng-container item-login-page>
      <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
    </ng-container>

  </demo-container-demo-accordion>
</ng-container>

<ng-container *ngIf="containerType == 'pages'" id="demo-pages">
  <demo-container-demo-pages>

    <ng-container item-input-components>
      <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-types>
      <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-table>
      <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
    </ng-container>

    <ng-container item-property-editor>
      <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
    </ng-container>

    <ng-container item-page-navigation>
      <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
    </ng-container>

    <ng-container item-login-page>
      <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
    </ng-container>

  </demo-container-demo-pages>
</ng-container>


<ng-template #inputComponentsTemplate>
  <demo-all-inputs-demo>
  </demo-all-inputs-demo>
</ng-template>

<ng-template #propertyTableTemplate>
  <demo-property-table-demo>
  </demo-property-table-demo>
</ng-template>

<ng-template #propertyTypesTemplate>
  <demo-property-types-demo>
  </demo-property-types-demo>
</ng-template>

<ng-template #propertyEditorTemplate>
  <demo-property-editor-demo>
  </demo-property-editor-demo>
</ng-template>

<ng-template #pageNavigationTemplate>
  <demo-page-navigation-demo>
  </demo-page-navigation-demo>
</ng-template>

<ng-template #loginPageTemplate>
  <demo-login-page-demo>
  </demo-login-page-demo>
</ng-template>
