<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .container {
    margin-top: 60px;
    padding: 1rem;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
  <span>Welcome to the <span class="text-monospace">ngx-property-editor</span> Demo</span>
  <div class="spacer"></div>
</div>

<div class="container" role="main">

  <pe-select-input label="Choose container type"
                   [inlineLabel]="true"
                   [dataSource]="containerTypeDataSource"
                   displayPropertyName="name"
                   valuePropertyName="value"
                   [(value)]="containerType">
  </pe-select-input>

  <pe-tabs *ngIf="containerType == 'tabs'" id="demo-tabs">
 
    <pe-tabs-item label="Input Components">
      <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
    </pe-tabs-item>

    <pe-tabs-item label="Property Table">
      <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
    </pe-tabs-item>

    <pe-tabs-item label="Property Editor">
      <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
    </pe-tabs-item>

  </pe-tabs>

  <pe-accordion *ngIf="containerType == 'accordion'" id="demo-accordion">
 
    <pe-accordion-item label="Input Components">
      <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
    </pe-accordion-item>

    <pe-accordion-item label="Property Table">
      <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
    </pe-accordion-item>

    <pe-accordion-item label="Property Editor">
      <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
    </pe-accordion-item>

  </pe-accordion> 

  <!-- Footer -->
  <footer>
    Love ngx-property-editor?&nbsp;
    <a href="https://github.com/heinerwalter/ngx-property-editor" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
  </footer>

</div>


<ng-template #inputComponentsTemplate>
  <demo-input-components>
  </demo-input-components>
</ng-template>

<ng-template #propertyTableTemplate>
  <pe-property-table [data]="data">
  </pe-property-table>
</ng-template>

<ng-template #propertyEditorTemplate>
  <pe-property-view-and-edit [data]="data"
                             viewModeType="editor"
                             editModeType="editor">
  </pe-property-view-and-edit>
</ng-template>
