<!-- Navbar -->
<pe-navbar [homeItem]="navbarHomeItem"
           [items]="navbarItems">
</pe-navbar>

<div class="container" role="main">

  <!-- Page Content -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    Love ngx-property-editor?&nbsp;
    <a href="https://github.com/heinerwalter/ngx-property-editor" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
    <span style="display: inline-block; width: 1em;"></span>
    <a href="https://github.com/heinerwalter/ngx-property-editor/actions/workflows/build-and-test.yml" target="_blank" rel="noopener">
      <img src="https://github.com/heinerwalter/ngx-property-editor/actions/workflows/build-and-test.yml/badge.svg"
           alt="GitHub action: build and test library" />
    </a>
  </footer>

</div>
