<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
  <span>Welcome to the <span class="text-monospace">ngx-property-editor</span> Demo</span>
</div>

<div class="container" role="main">

  <pe-select-input label="Choose container type"
                   [inlineLabel]="true"
                   [dataSource]="containerTypeDataSource"
                   displayPropertyName="name"
                   valuePropertyName="value"
                   [(value)]="containerType">
  </pe-select-input>

  <ng-container *ngIf="containerType == 'tabs'" id="demo-tabs">
    <demo-container-demo-tabs>

      <ng-container item-input-components>
        <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-types>
        <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-table>
        <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-editor>
        <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
      </ng-container>

      <ng-container item-page-navigation>
        <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
      </ng-container>

      <ng-container item-login-page>
        <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
      </ng-container>

    </demo-container-demo-tabs>
  </ng-container>

  <ng-container *ngIf="containerType == 'accordion'" id="demo-accordion">
    <demo-container-demo-accordion>

      <ng-container item-input-components>
        <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-types>
        <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-table>
        <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-editor>
        <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
      </ng-container>

      <ng-container item-page-navigation>
        <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
      </ng-container>

      <ng-container item-login-page>
        <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
      </ng-container>

    </demo-container-demo-accordion>
  </ng-container>

  <ng-container *ngIf="containerType == 'pages'" id="demo-pages">
    <demo-container-demo-pages>

      <ng-container item-input-components>
        <ng-container *ngTemplateOutlet="inputComponentsTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-types>
        <ng-container *ngTemplateOutlet="propertyTypesTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-table>
        <ng-container *ngTemplateOutlet="propertyTableTemplate"></ng-container>
      </ng-container>

      <ng-container item-property-editor>
        <ng-container *ngTemplateOutlet="propertyEditorTemplate"></ng-container>
      </ng-container>

      <ng-container item-page-navigation>
        <ng-container *ngTemplateOutlet="pageNavigationTemplate"></ng-container>
      </ng-container>

      <ng-container item-login-page>
        <ng-container *ngTemplateOutlet="loginPageTemplate"></ng-container>
      </ng-container>

    </demo-container-demo-pages>
  </ng-container>

  <!-- Footer -->
  <footer>
    Love ngx-property-editor?&nbsp;
    <a href="https://github.com/heinerwalter/ngx-property-editor" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
    <a href="https://github.com/heinerwalter/ngx-property-editor/actions/workflows/build-and-test.yml" target="_blank" rel="noopener">
      <img src="https://github.com/heinerwalter/ngx-property-editor/actions/workflows/build-and-test.yml/badge.svg"
           alt="GitHub action: build and test library" />
    </a>
  </footer>

</div>


<ng-template #inputComponentsTemplate>
  <demo-all-inputs-demo>
  </demo-all-inputs-demo>
</ng-template>

<ng-template #propertyTableTemplate>
  <demo-property-table-demo>
  </demo-property-table-demo>
</ng-template>

<ng-template #propertyTypesTemplate>
  <demo-property-types-demo>
  </demo-property-types-demo>
</ng-template>

<ng-template #propertyEditorTemplate>
  <demo-property-editor-demo>
  </demo-property-editor-demo>
</ng-template>

<ng-template #pageNavigationTemplate>
  <demo-page-navigation-demo>
  </demo-page-navigation-demo>
</ng-template>

<ng-template #loginPageTemplate>
  <demo-login-page-demo>
  </demo-login-page-demo>
</ng-template>
