<pe-select-input label="Choose orientation"
                 [inlineLabel]="true"
                 [dataSource]="tabsOrientationDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="tabsOrientation">
</pe-select-input>
<pe-select-input *ngIf="tabsOrientation == 'vertical'"
                 label="Choose tab style"
                 [inlineLabel]="true"
                 [dataSource]="tabsVerticalStyleDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="tabsVerticalStyle">
</pe-select-input>

<pe-tabs id="pe-tabs"
         [disableSaveLastActiveItem]="false"
         [orientation]="tabsOrientation"
         [verticalTabStyle]="tabsVerticalStyle">

  <pe-tabs-item label="Input Components">
    <ng-content select="[item-input-components]"></ng-content>
  </pe-tabs-item>

  <pe-tabs-item label="Property Table">
    <ng-content select="[item-property-table]"></ng-content>
  </pe-tabs-item>

  <pe-tabs-item label="Property Editor">
    <ng-content select="[item-property-editor]"></ng-content>
  </pe-tabs-item>

  <pe-tabs-item label="Page Navigation">
    <ng-content select="[item-page-navigation]"></ng-content>
  </pe-tabs-item>

  <pe-tabs-item label="Login Page">
    <ng-content select="[item-login-page]"></ng-content>
  </pe-tabs-item>

</pe-tabs>
