<pe-select-input *ngIf="mode == 'view'"
                 label="Choose view mode"
                 [inlineLabel]="true"
                 [dataSource]="viewModeTypeDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="viewModeType">
</pe-select-input>
<pe-select-input *ngIf="mode == 'edit'"
                 label="Choose edit mode"
                 [inlineLabel]="true"
                 [dataSource]="editModeTypeDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="editModeType">
</pe-select-input>

<pe-property-view-and-edit [data]="data"
                           [(mode)]="mode"
                           [configuration]="propertiesConfiguration"
                           [viewModeType]="viewModeType"
                           [editModeType]="editModeType">

  <div content-view-custom>
    <pe-form-group label="Contact">
      <span>{{data.toString()}}</span>
      <span *ngIf="data.tel"><br/><a href="tel:{{data.tel}}">{{data.tel}}</a></span>
      <span *ngIf="data.email"><br/><a href="mailto:{{data.email}}">{{data.email}}</a></span>
    </pe-form-group>
  </div>

  <div content-edit-custom>
    Here you could create your own edit form. But it has not been done yet.
    Please choose another edit mode.
  </div>

</pe-property-view-and-edit>

<pe-form-group label="JSON">
  <samp style="display: block; max-width: 100%; white-space: pre; overflow-x: auto;">{{dataAsJson}}</samp>
</pe-form-group>
