<pe-accordion id="pe-accordion"
              [disableSaveLastActiveItem]="false">

  <pe-accordion-item label="Input Components">
    <ng-content select="[item-input-components]"></ng-content>
  </pe-accordion-item>

  <pe-accordion-item label="Property Types">
    <ng-content select="[property-types-components]"></ng-content>
  </pe-accordion-item>

  <pe-accordion-item label="Property Table">
    <ng-content select="[item-property-table]"></ng-content>
  </pe-accordion-item>

  <pe-accordion-item label="Property Editor">
    <ng-content select="[item-property-editor]"></ng-content>
  </pe-accordion-item>

  <pe-accordion-item label="Page Navigation">
    <ng-content select="[item-page-navigation]"></ng-content>
  </pe-accordion-item>

  <pe-accordion-item label="Login Page">
    <ng-content select="[item-login-page]"></ng-content>
  </pe-accordion-item>

</pe-accordion>
