<h2>Input Components</h2>

<h4>Boolean Input</h4>
<pe-boolean-input label="Boolean input"
                  infoIconTooltip="Component: <pe-boolean-input>"
                  (valueChange)="onInputValueChange('boolean', $event)">
</pe-boolean-input>

<h4>Date Input</h4>
<pe-date-input label="Date input"
               infoIconTooltip="Component: <pe-date-input>"
               (valueChange)="onInputValueChange('date', $event)">
</pe-date-input>

<h4>Number Input</h4>
<pe-number-input label="Number input"
                 infoIconTooltip="Component: <pe-number-input>"
                 (valueChange)="onInputValueChange('number', $event)">
</pe-number-input>

<h4>Text Input</h4>
<pe-text-input label="Single line text input"
               infoIconTooltip="Component: <pe-text-input>"
               helpText="Search Google after you entered some text."
               [(value)]="textInputValue"
               (valueChange)="onInputValueChange('text', $event)">
</pe-text-input>
<p *ngIf="textInputValue">
  Search Goggle with entered text:
  <pe-goto-icon [tooltip]="'Search Google with entered text: ' + textInputValue"
                (click)="onTextInputGotoIconClicked()">
  </pe-goto-icon>
</p>

<pe-text-area-input label="Multi line text input (textarea)"
                    infoIconTooltip="Component: <pe-text-area-input>"
                    (valueChange)="onInputValueChange('multiline text', $event)">
</pe-text-area-input>

<h4>File Input</h4>
<pe-file-input label="File input"
               infoIconTooltip="Component: <pe-file-input>"
               (valueChange)="onInputValueChange('file', $event)">
</pe-file-input>

<h4>Selection</h4>
<pe-select-input label="Single selection"
                 infoIconTooltip="Component: <pe-select-input>"
                 [dataSource]="inputDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 (valueChange)="onInputValueChange('single select', $event)">
</pe-select-input>

<pe-select-input label="Multiple selection"
                 infoIconTooltip="Component: <pe-select-input>"
                 [dataSource]="inputDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [multiple]="true"
                 (valueChange)="onInputValueChange('multi select', $event)">
</pe-select-input>

<pe-radio-input label="Single selection with radio inputs"
                infoIconTooltip="Component: <pe-radio-input>"
                [dataSource]="inputDataSource"
                displayPropertyName="name"
                valuePropertyName="value"
                (valueChange)="onInputValueChange('single select (radio)', $event)">
</pe-radio-input>

<pe-form-group label="Single selection with separate radio inputs..."
               infoIconTooltip="Component: <pe-single-radio-input>">
  <pe-single-radio-input label="First radio input with value 'option 1'"
                         name="single-radio-input"
                         option="option 1"
                         (valueChange)="onInputValueChange('single select (separate radio)', $event)">
  </pe-single-radio-input>
  <label>... and arbitrary content between them.</label>
  <pe-single-radio-input label="Second one with value 'option 2'"
                         name="single-radio-input"
                         option="option 2"
                         (valueChange)="onInputValueChange('single select (separate radio)', $event)">
  </pe-single-radio-input>
</pe-form-group>

<pe-checkbox-select-input label="Multiple selection with checkboxes"
                          infoIconTooltip="Component: <pe-checkbox-select-input>"
                          [dataSource]="inputDataSource"
                          displayPropertyName="name"
                          valuePropertyName="value"
                          [showSelectAll]="true"
                          (valueChange)="onInputValueChange('multi select (checkbox)', $event)">
</pe-checkbox-select-input>

<h4>Special Types</h4>
<pe-rating-input label="Rating input"
                 infoIconTooltip="Component: <pe-rating-input>"
                 (valueChange)="onInputValueChange('rating', $event)">
</pe-rating-input>

<pe-rating-input label="Rating input with custom icons"
                 infoIconTooltip='Component: <pe-rating-input [iconInactive]="..." [iconActive]="...">'
                 [iconInactive]="iconDog"
                 [iconActive]="iconCat"
                 iconStyleInactive="padding-right: 0.2em;"
                 iconStyleActive="padding-right: 0.2em; color: saddlebrown;"
                 (valueChange)="onInputValueChange('rating (with custom icons)', $event)">
</pe-rating-input>


<!-- Terminal -->
<pe-form-group>
  <demo-terminal [lines]="terminalLines"
                 [maxLines]="terminalMaxLines">
  </demo-terminal>
</pe-form-group>

<pe-number-input label="max. displayed line count"
                 [inlineLabel]="true"
                 [min]="0"
                 [(value)]="terminalMaxLines">
</pe-number-input>
