<pe-select-input label="Choose controls position"
                 [inlineLabel]="true"
                 [dataSource]="pagesControlsPositionDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="pagesControlsPosition">
</pe-select-input>
<pe-select-input label="Choose controls style"
                 [inlineLabel]="true"
                 [dataSource]="pagesControlsStyleDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="pagesControlsStyle">
</pe-select-input>
<pe-select-input label="Choose control color"
                 [inlineLabel]="true"
                 [dataSource]="pagesControlColorDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="pagesControlColor">
</pe-select-input>
<pe-select-input label="Choose control color variant"
                 [inlineLabel]="true"
                 [dataSource]="pagesControlColorVariantDataSource"
                 displayPropertyName="name"
                 valuePropertyName="value"
                 [(value)]="pagesControlColorVariant">
</pe-select-input>

<pe-pages id="pe-pages"
          [controlsPosition]="pagesControlsPosition"
          [controlsStyle]="pagesControlsStyle"
          [controlColor]="pagesControlColor"
          [controlColorVariant]="pagesControlColorVariant">

  <pe-pages-item label="Input Components">
    <ng-content select="[item-input-components]"></ng-content>
  </pe-pages-item>

  <pe-pages-item label="Property Editor">
    <ng-content select="[item-property-editor]"></ng-content>
  </pe-pages-item>

  <pe-pages-item label="Page Navigation">
    <ng-content select="[item-page-navigation]"></ng-content>
  </pe-pages-item>

  <pe-pages-item label="Login Page">
    <ng-content select="[item-login-page]"></ng-content>
  </pe-pages-item>

</pe-pages>
