<h2>Input Components</h2>

<h4>Boolean Input</h4>
<demo-input-demo-wrapper [value]="values.boolean">
  <pe-boolean-input label="Boolean input"
                    infoIconTooltip="Component: <pe-boolean-input>"
                    [(value)]="values.boolean"
                    (valueChange)="onInputValueChange('boolean', $event)">
  </pe-boolean-input>
</demo-input-demo-wrapper>

<h4>Date Input</h4>
<demo-input-demo-wrapper [value]="values.date">
  <pe-date-input label="Date input"
                 infoIconTooltip='Component: <pe-date-input type="date">'
                 type="date"
                 timezone="local"
                 [(value)]="values.date"
                 (valueChange)="onInputValueChange('date', $event)">
  </pe-date-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.time">
  <pe-date-input label="Time input"
                 infoIconTooltip='Component: <pe-date-input type="time">'
                 type="time"
                 timezone="local"
                 [(value)]="values.time"
                 (valueChange)="onInputValueChange('time', $event)">
  </pe-date-input>
</demo-input-demo-wrapper>

<!-- TODO: datetime-local does not return a date instance but a string. Results in value = undefined.
<demo-input-demo-wrapper [value]="values.datetime">
  <pe-date-input label="Date and time input"
                 infoIconTooltip='Component: <pe-date-input type="datetime-local">'
                 type="datetime-local"
                 [(value)]="values.datetime"
                 (valueChange)="onInputValueChange('datetime', $event)">
  </pe-date-input>
</demo-input-demo-wrapper>
-->

<h4>Number Input</h4>
<demo-input-demo-wrapper [value]="values.number">
  <pe-number-input label="Number input"
                   infoIconTooltip="Component: <pe-number-input>"
                   [(value)]="values.number"
                   (valueChange)="onInputValueChange('number', $event)">
  </pe-number-input>
</demo-input-demo-wrapper>

<h4>Text Input</h4>
<demo-input-demo-wrapper [value]="values.text"
                         valueModifier="quotes">
  <pe-text-input label="Single line text input"
                 infoIconTooltip="Component: <pe-text-input>"
                 helpText="Search Google after you entered some text."
                 [(value)]="values.text"
                 (valueChange)="onInputValueChange('text', $event)">
  </pe-text-input>
</demo-input-demo-wrapper>
<p *ngIf="values.text">
  Search Goggle with entered text:
  <pe-goto-icon [tooltip]="'Search Google with entered text: ' + values.text"
                (click)="onTextInputGotoIconClicked()">
  </pe-goto-icon>
</p>

<demo-input-demo-wrapper [value]="values.textMultiLine"
                         valueModifier="quotes">
  <pe-text-area-input label="Multi line text input (textarea)"
                      infoIconTooltip="Component: <pe-text-area-input>"
                      [(value)]="values.textMultiLine"
                      (valueChange)="onInputValueChange('multiline text', $event)">
  </pe-text-area-input>
</demo-input-demo-wrapper>

<h4>File Input</h4>
<demo-input-demo-wrapper [value]="values.fileSingle">
  <pe-file-input label="File input"
                 infoIconTooltip='Component: <pe-file-input [readFileContent]="true">'
                 [multiple]="false"
                 [readFileContent]="true"
                 (valueChange)="values.fileSingle = $event; onInputValueChange('file', $event)"
                 (fileContent)="values.fileSingleContent = $event.length ? $event[0] : undefined">
  </pe-file-input>
</demo-input-demo-wrapper>
<demo-input-demo-wrapper valueLabel="File Content"
                         valueModifier="quotes"
                         [value]="values.fileSingleContent">
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.fileMultiple">
  <pe-file-input label="Multiple files input"
                 infoIconTooltip='Component: <pe-file-input [multiple]="true">'
                 [multiple]="true"
                 (valueChange)="values.fileMultiple = $event; onInputValueChange('multiple files', $event)">
  </pe-file-input>
</demo-input-demo-wrapper>

<h4>Selection</h4>
<demo-input-demo-wrapper [value]="values.selectSingle">
  <pe-select-input label="Single selection"
                   infoIconTooltip="Component: <pe-select-input>"
                   [dataSource]="inputDataSource"
                   displayPropertyName="name"
                   valuePropertyName="value"
                   [(value)]="values.selectSingle"
                   (valueChange)="onInputValueChange('single select', $event)">
  </pe-select-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.selectMultiple">
  <pe-select-input label="Multiple selection"
                   infoIconTooltip="Component: <pe-select-input>"
                   [dataSource]="inputDataSource"
                   displayPropertyName="name"
                   valuePropertyName="value"
                   [multiple]="true"
                   [(value)]="values.selectMultiple"
                   (valueChange)="onInputValueChange('multi select', $event)">
  </pe-select-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.selectRadio">
  <pe-radio-input label="Single selection with radio inputs"
                  infoIconTooltip="Component: <pe-radio-input>"
                  [dataSource]="inputDataSource"
                  displayPropertyName="name"
                  valuePropertyName="value"
                  [(value)]="values.selectRadio"
                  (valueChange)="onInputValueChange('single select (radio)', $event)">
  </pe-radio-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.selectSeparateRadio">
  <pe-form-group label="Single selection with separate radio inputs..."
                 infoIconTooltip="Component: <pe-single-radio-input>">
    <pe-single-radio-input label="First radio input with value 'option 1'"
                           name="single-radio-input"
                           option="option 1"
                           [(value)]="values.selectSeparateRadio"
                           (valueChange)="onInputValueChange('single select (separate radio)', $event)">
    </pe-single-radio-input>
    <label>... and arbitrary content between them.</label>
    <pe-single-radio-input label="Second one with value 'option 2'"
                           name="single-radio-input"
                           option="option 2"
                           [(value)]="values.selectSeparateRadio"
                           (valueChange)="onInputValueChange('single select (separate radio)', $event)">
    </pe-single-radio-input>
  </pe-form-group>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.selectCheckbox">
  <pe-checkbox-select-input label="Multiple selection with checkboxes"
                            infoIconTooltip="Component: <pe-checkbox-select-input>"
                            [dataSource]="inputDataSource"
                            displayPropertyName="name"
                            valuePropertyName="value"
                            [showSelectAll]="true"
                            [(value)]="values.selectCheckbox"
                            (valueChange)="onInputValueChange('multi select (checkbox)', $event)">
  </pe-checkbox-select-input>
</demo-input-demo-wrapper>

<h4>Rating</h4>
<demo-input-demo-wrapper [value]="values.rating">
  <pe-rating-input label="Rating input"
                   infoIconTooltip="Component: <pe-rating-input>"
                   [(value)]="values.rating"
                   (valueChange)="onInputValueChange('rating', $event)">
  </pe-rating-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.ratingCustom">
  <pe-rating-input label="Rating input with custom icons"
                   infoIconTooltip='Component: <pe-rating-input [iconInactive]="..." [iconActive]="...">'
                   [iconInactive]="iconDog"
                   [iconActive]="iconCat"
                   iconStyleInactive="padding-right: 0.2em;"
                   iconStyleActive="padding-right: 0.2em; color: saddlebrown;"
                   [(value)]="values.ratingCustom"
                   (valueChange)="onInputValueChange('rating (with custom icons)', $event)">
  </pe-rating-input>
</demo-input-demo-wrapper>

<h4>Special Types</h4>
<demo-input-demo-wrapper [value]="values.selectColor">
  <pe-color-select-input label="Color selection"
                         infoIconTooltip="Component: <pe-color-select-input>"
                         [(value)]="values.selectColor"
                         (valueChange)="onInputValueChange('color select', $event)">
  </pe-color-select-input>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.selectIcon">
  <pe-icon-select-input label="Icon selection"
                        infoIconTooltip="Component: <pe-icon-select-input>"
                        [(value)]="values.selectIcon"
                        (valueChange)="onInputValueChange('icon select', $event)">
  </pe-icon-select-input>
</demo-input-demo-wrapper>

<h4>Groups</h4>
<demo-input-demo-wrapper [value]="values.array">
  <pe-array-form-group label="Array with custom input elements (text input)"
                       infoIconTooltip='Component: <pe-array-form-group> + <pe-text-input>'
                       [(value)]="values.array"
                       [itemTemplate]="arrayFormGroupTemplate"
                       (valueChange)="onInputValueChange('array', $event)">
  </pe-array-form-group>
</demo-input-demo-wrapper>

<ng-template #arrayFormGroupTemplate let-value="value" let-onValueChange="onValueChange" let-index="index">
  <pe-text-input [value]="value"
                 (valueChange)="onValueChange($event)">
  </pe-text-input>
</ng-template>

<demo-input-demo-wrapper [value]="values.inputGroup">
  <pe-form-group label="Input Group"
                 infoIconTooltip='Component: <pe-input-group>'>
    <pe-input-group orientation="vertical">
      <pe-input-group orientation="horizontal">
        <pe-text-input placeholder="Street"
                       [(value)]="values.inputGroup.street"
                       (valueChange)="onInputValueChange('Input group', values.inputGroup)">
        </pe-text-input>
        <pe-number-input placeholder="Number"
                         [(value)]="values.inputGroup.number"
                         (valueChange)="onInputValueChange('Input group', values.inputGroup)">
        </pe-number-input>
      </pe-input-group>
      <pe-input-group orientation="horizontal">
        <pe-number-input placeholder="ZIP Code"
                         [(value)]="values.inputGroup.zipCode"
                         (valueChange)="onInputValueChange('Input group', values.inputGroup)">
        </pe-number-input>
        <pe-select-input placeholder="City"
                         [dataSource]="countriesDataSource"
                         displayPropertyName="capitalCity"
                         valuePropertyName="capitalCity"
                         [allowEmpty]="true"
                         [(value)]="values.inputGroup.city"
                         (valueChange)="onInputValueChange('Input group', values.inputGroup)">
        </pe-select-input>
      </pe-input-group>
      <pe-select-input placeholder="Country"
                       [dataSource]="countriesDataSource"
                       displayPropertyName="country"
                       valuePropertyName="country"
                       [allowEmpty]="true"
                       [(value)]="values.inputGroup.country"
                       (valueChange)="onInputValueChange('Input group', values.inputGroup)">
      </pe-select-input>
    </pe-input-group>
  </pe-form-group>
</demo-input-demo-wrapper>

<demo-input-demo-wrapper [value]="values.arrayWithInputGroup">
  <pe-array-form-group label="Array with input group"
                       infoIconTooltip='Components: <pe-array-form-group> + <pe-input-group>'
                       [(value)]="values.arrayWithInputGroup"
                       [itemTemplate]="arrayFormGroupWithInputGroupTemplate"
                       [newItemFunction]="arrayWithInputGroupNewItemFunction"
                       (valueChange)="onInputValueChange('array with input group', $event)">
  </pe-array-form-group>
</demo-input-demo-wrapper>

<ng-template #arrayFormGroupWithInputGroupTemplate let-value="value" let-onValueChange="onValueChange"
             let-index="index">
  <pe-input-group orientation="horizontal">
    <pe-text-input placeholder="Name"
                   [(value)]="value['name']"
                   (valueChange)="onValueChange(value)">
    </pe-text-input>
    <pe-number-input placeholder="Number"
                     [(value)]="value['number']"
                     (valueChange)="onValueChange(value)">
    </pe-number-input>
    <pe-select-input placeholder="Country"
                     [dataSource]="countriesDataSource"
                     displayPropertyName="country"
                     valuePropertyName="country"
                     [allowEmpty]="true"
                     [(value)]="value['country']"
                     (valueChange)="onValueChange(value)">
    </pe-select-input>
  </pe-input-group>
</ng-template>
