/* Import Bootstrap:
 * Include functions first (so you can manipulate colors, SVGs, calc, etc) */
@import "../../../node_modules/bootstrap/scss/functions";

/* Include custom styles */
@import "mixins";
@import "variables";

/* Import Bootstrap:
 * Include remainder of required Bootstrap stylesheets */
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


@include label;
@include form-check-input;

.circle-icon + .circle-icon {
  padding-left: 0.5em;
}

// Display readonly radio buttons like non-disabled radio buttons
.form-check-input[readonly]:disabled {
  opacity: 1;
}

/* gradient */

// Defines gradient background classes for all theme colors
// (`.bg-gradient-primary` etc.).
@each $color, $value in $theme-colors {
  .bg-gradient-#{$color} {
    @include bg-gradient($value, 5%, true);
  }
}

/* navbar and footer */

// Define navbar and footer style with default $primary color
@include header;
@include footer;
